<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FTO &middot; About Us</title>
        <meta name="description" content="Free The Oppressed">
        <link rel="stylesheet" href="/css/fto.css">
    </head>
    
    <body class="slide-container">
    <div class="page-container">

    <div class="header-container">
    {{> _include/Header.hbs}}
    </div>
    
	<div class="fto-body-container" style="padding:10px;margin-left:130px;margin-top:80px;">
		<p>Dear Friends,</p>
		
		<p>Thank you for your prayers, encouragement and support that enables our FBR relief teams to give help, hope, love 
		and get the news out in Burma, Sudan and Kurdistan, Iraq. 
		Our supporting foundation is Free the Oppressed and it covers all of our different projects. 
		
		<p>The name of the foundation is inspired by the words of Jesus in Luke 4:18-19: 
		
		<blockquote>The Spirit of the Lord is upon me, because he has anointed me to preach good news to the poor. 
				He has sent me to proclaim freedom for the prisoners and recovery of sight to the blind, to release the oppressed, 
				to proclaim the year of the Lord's favor.
		</blockquote>
		
		<p>In 1997 with the help of a Karen medic, Eliya, and many other ethnic leaders we started FBR. We started with the idea that even though we are small, if we helped one person they would be glad and we would be glad. 

		<p>FBR is made up of people of different faiths and all are free to believe as they choose. We of different faiths and ethnicities are joined in love as we try to serve the oppressed. 
		
		<p>For me, I want to follow Jesus in this and share His love with all in need.
		
		<p>I go to try to help because I feel it is God's place for me -- that is my soul; because oppression is wrong -- that is my mind; 
		because I love these people -- that is my heart; and because I like to like to be on the frontline -- that is my body. 
		
		<p>My wife and children go on missions with us and we now have 70 multi-ethnic, multi-faith relief teams and a wonderful staff of both locals and foreigners to support all of this.
			
		<p>Thank you for helping and praying with us and I look forward to when we can meet.
		
		<p>God bless you,
		<p>Dave, family and teams
	
	</div>
    <div class="footer-container">
	 {{> _include/Footer.hbs}}
	</div>

	</div>
	</body>
	
	{{> _include/SlideShow.js }}
</html>