<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FTO &middot; Donate</title>
        <meta name="description" content="Free The Oppressed">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    
    <body >
    <div class="page-container">

    <div class="header-container">
    {{> _include/Header.hbs}}
    </div>
    
	<div class="fto-body-container" style="padding:10px;margin-left:130px;margin-top:80px;">

		<h2>Support the FBR</h2>


<p>To make a contribution please visit the Free Burma Rangers website, donation page:

<p>		<a href="http://www.freeburmarangers.org/get-involved/">http://www.freeburmarangers.org/get-involved/</a>


	<p>Or use this address:
	
			<blockquote>
			Free the Oppressed <br/>
			PO Box 912938 <br/>
			Denver, CO 80291-2938  <br/>
			</blockquote>
			
			Please make checks payable to Free The Oppressed.
			
			<p>(All contributions are tax deductible. EIN: 47-4648581)

	</div>
    <div class="footer-container">
	 {{> _include/Footer.hbs}}
	</div>

	</div>
	</body>
</html>