<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FTO &middot; Home</title>
        <meta name="description" content="Free The Oppressed">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    
    <body >
    <div class="page-container">

    <div class="header-container">
    {{> _include/Header.hbs}}
    </div>
		<div class="slide-container" ></div>
        <div class="caption-container" style="display:none;">  </div>

    <div class="footer-container">
	 {{> _include/Footer.hbs}}
	</div>

	</div>
	</body>

{{> _include/SlideShow.js }}

</html>


