<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FTO &middot; Home</title>
        <meta name="description" content="Free The Oppressed">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <!--
            WE'LL NEED TO COME UP WITH A LOGO TO REPLACE THIS:
        -->
        <div class="container">
        <h2>Free The Oppressed</h2> 
        </div>
        <div class="containerwhite">
        Hello World! This is FTO.
        
        <script>
        var date = new Date();
        document.write ("<p>Time is: " + date);
        </script>
        </div>
 
</html>
