
.navbar-default {
    background-color: rgba(100,100,100,0.2);
    border-color: #e7e7e7;
}


@media (min-width: 768px)
.navbar {
    border-radius: 1px; 
}

.navbar {
    position: relative;
    min-height: 20px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}



.navbar-default .navbar-nav  li  a:hover, .navbar-default .navbar-nav  li  a:focus {
    color: white;
    background-color: rgba(200,200,200,0.5);
}


.navbar-nav  li  a {
     padding-top: 5px; 
     padding-bottom: 5px; 
     font-size:1.1em;
}

@media (min-width: 768px)
.container  .navbar-header, .container-fluid  .navbar-header, .container  .navbar-collapse, .container-fluid .navbar-collapse {
     margin-right: -15px;
     margin-left: -15px; 
}

@media (min-width: 768px)
nav.navbar-default div.container-fluid {
    padding-right: 2px;
    padding-left: 2px; 
    margin-right: auto; 
    margin-left: auto;
}